

input{
    text-align: center;
}

.login-container{
    place-items: center;
    display: grid;
}

.h-screen{
    height: 100vh;
}
.w-full{
    width: 100%;
}
.small-text {
    font-size: 0.8rem;  /* Ajusta el tamaño según sea necesario */
}

