<div class="container-fluid">
    <div class="row g-1 mt-2 justify-content-md-center mb-4">
      <div class="col-12">
        <h3>Menu Mantenimiento</h3>
        <div id="tree-list">
          <dx-tree-list
            id="tasks"
            [dataSource]="menus"
            keyExpr="nCodigo"
            parentIdExpr="nPadre"
            (onRowUpdating)="actualizar($event)"
            (onRowInserted)="insertar($event)"
            (onRowRemoved)="eliminar($event)"
            [columnAutoWidth]="true"
            [wordWrapEnabled]="true"
            [showBorders]="true"
            [rowAlternationEnabled]="true"
            [showColumnLines]="true"
            [showRowLines]="true"
            [allowColumnResizing]="true"
            (onInitNewRow)="initNewRow($event)"
          >
            <dxo-paging [pageSize]="15"> </dxo-paging>
            <dxo-pager
                [visible]="true"
                [showPageSizeSelector]="true"
                [allowedPageSizes]="[15, 25, 50, 100]"
            ></dxo-pager>
            <dxo-editing
              mode="row"
              [allowUpdating]="true"
              [allowAdding]="true"
              [allowDeleting]="true"
              [selectTextOnEditStart]="true"
              startEditAction="click"
            >
            </dxo-editing>
          
            <dxi-column dataField="nCodigo" caption="ID" [allowEditing]="false" [visible]="false"></dxi-column>
            <dxi-column dataField="nPadre" caption="Padre" [visible]="false"></dxi-column>
            <dxi-column dataField="cNombre" caption="Nombre"></dxi-column>
            <dxi-column dataField="cNombreMostrar" caption="Nombre Corto"></dxi-column>
            <dxi-column dataField="cDetalle" caption="Descripción"></dxi-column>
            <dxi-column
              dataField="moduloId"
              caption="Módulo"
            >
              <dxo-lookup
                [dataSource]="modulos"
                valueExpr="id"
                displayExpr="nombre">
              </dxo-lookup>
            </dxi-column>
            <dxi-column dataField="cControlador" caption="Controlador"></dxi-column>
            <dxi-column dataField="cAction" caption="Ruta/Accion"></dxi-column>
            <dxi-column dataField="cIcono" caption="Icono"></dxi-column>
            <dxi-column dataField="cValorClave" caption="valorClave"></dxi-column>
            <dxi-column dataField="nOrden" caption="Orden" sortOrder="asc"></dxi-column>
            <dxi-column dataField="lEstado" caption="Estado">
              <dxo-lookup
                [dataSource]="estados"
                valueExpr="ID"
                displayExpr="Name">
              </dxo-lookup>
            </dxi-column>

            <dxi-column type="buttons">
              <dxi-button name="add" icon="fa-solid fa-plus" hint="Agregar"></dxi-button>
              <dxi-button name="edit" icon="edit" hint="Editar"></dxi-button>
              <dxi-button name="delete" icon="trash" hint="Eliminar"></dxi-button>
              <dxi-button name="save" icon="fa-solid fa-floppy-disk" hint="Guardar"></dxi-button>
              <dxi-button name="cancel" icon="fa-solid fa-ban" hint="Cancelar"></dxi-button>
            </dxi-column>
          </dx-tree-list>
          <block-ui >
            <!-- Markup here -->
          </block-ui>
    </div>
  </div>
</div>
