<div class="container-fluid">
    <div class="row g-1 mt-2 justify-content-md-center mb-4">
      <div class="col-12">
        <h3>Labores</h3>
        <div id="data-grid">
          <dx-data-grid
            id="gridContainer"
            [dataSource]="labores"
            keyExpr="id"
            [showBorders]="true"
            (onRowUpdating)="actualizar($event)"
            (onRowInserting)="insertar($event)"
            (onRowRemoving)="eliminar($event)"
            [columnHidingEnabled]="true"
            [rowAlternationEnabled]="true"
            [showColumnLines]="true"
            [showRowLines]="true"
            [allowColumnResizing]="true"
          >
            <dxo-paging [pageSize]="50"></dxo-paging>
            <dxo-pager
              [visible]="true"
              [showPageSizeSelector]="true"
              [allowedPageSizes]="[50, 100, 150, 200]"
            ></dxo-pager>
            
            <dxo-editing
              mode="row"
              [allowUpdating]="true"
              [allowAdding]="true"
              [allowDeleting]="true"
              [selectTextOnEditStart]="true"
              [useIcons]="true"
            >
            </dxo-editing>
        
            <dxi-column 
              dataField="id" 
              caption="ID" 
              [width]="70" 
              [allowEditing]="false" 
              alignment="center"
            ></dxi-column>
            
            <dxi-column 
              dataField="nombre" 
              caption="Nombre"
            >
              <dxi-validation-rule 
                type="required" 
                message="El nombre es requerido"
              ></dxi-validation-rule>
              <dxi-validation-rule 
                type="stringLength" 
                [max]="200"
                message="El nombre no puede exceder 200 caracteres"
              ></dxi-validation-rule>
            </dxi-column>
            
            <dxi-column 
              dataField="nombreCorto" 
              caption="Nombre Corto"
              [width]="150"
            >
              <dxi-validation-rule 
                type="required" 
                message="El nombre corto es requerido"
              ></dxi-validation-rule>
              <dxi-validation-rule 
                type="stringLength" 
                [max]="50"
                message="El nombre corto no puede exceder 50 caracteres"
              ></dxi-validation-rule>
            </dxi-column>
            
            <dxi-column 
              dataField="activo" 
              caption="Activo" 
              dataType="boolean"
              [width]="100"
              alignment="center"
            ></dxi-column>
  
            <dxi-column type="buttons" [width]="110">
              <dxi-button name="edit" icon="edit" hint="Editar"></dxi-button>
              <dxi-button name="delete" icon="trash" hint="Eliminar"></dxi-button>
              <dxi-button name="save" icon="save" hint="Guardar"></dxi-button>
              <dxi-button name="cancel" icon="revert" hint="Cancelar"></dxi-button>
            </dxi-column>
          </dx-data-grid>
  
          <div 
            id="messageBox" 
            style="display: none; padding: 10px; border-radius: 5px; margin-top: 10px; font-weight: bold;"
          >
          </div>
          
          <block-ui></block-ui>
        </div>
      </div>
    </div>
  </div>