<div class="w-full bg-[#202938] shadow-md">
  <div class="max-w-7xl mx-auto flex items-center justify-between px-6 py-3">
    
    <!-- Logo -->
    <div class="flex items-center space-x-3">
      <img src="../../assets/conveyorIcono.jpg" alt="Logo" class="w-24 h-14 object-contain rounded-md shadow-sm">
    </div>

    <!-- Select de Empresas -->
    <div class="flex items-center mx-4">
      <dx-select-box
        [dataSource]="usuariosEmpresas"
        displayExpr="empresa.nombre"
        valueExpr="empresaId"
        [(value)]="empresaSeleccionada"
        [searchEnabled]="true"
        placeholder="Seleccionar Empresa"
        [stylingMode]="'outlined'"
        [width]="250"
        (onValueChanged)="onEmpresaChange($event)"
        class="empresa-select">
        <dxo-drop-down-options [height]="300"></dxo-drop-down-options>
      </dx-select-box>
    </div>

    <!-- Menú -->
    <div 
      id="menuContainer" 
      class="flex-1 flex justify-end items-center px-6 py-3 
            bg-gradient-to-r
            shadow-lg rounded-xl">
            <dx-menu
            [dataSource]="menuBar"
            displayExpr="cNombre"
            (onItemClick)="onMenuItemClick($event)"
            [showFirstSubmenuMode]="{ name: 'onClick', delay: 0 }"
            orientation="horizontal">
          </dx-menu>
    </div>

  </div>
</div>