<div class="w-full bg-[#202938] shadow-md">
  <div class="max-w-7xl mx-auto flex items-center justify-between px-6 py-3">
    
    <!-- Logo -->
    <div class="flex items-center space-x-3">
      <img src="../../assets/conveyorIcono.jpg" alt="Logo" class="w-24 h-14 object-contain rounded-md shadow-sm">
    </div>

    <!-- Menú -->
    <div 
      id="menuContainer" 
      class="flex-1 flex justify-end items-center px-6 py-3 
            bg-gradient-to-r from-[#064e3b]  to-[#047857] 
            shadow-lg rounded-xl">
      
      <dx-menu
        #menu
        [dataSource]="menuBar"
        displayExpr="cNombre"
        showFirstSubmenuMode="onHover"
        orientation="horizontal"
        [hideSubmenuOnMouseLeave]="true"
        [adaptivityEnabled]="isMobile"
        id="menu"
        class="text-white font-semibold tracking-wide text-lg">
      </dx-menu>
    </div>


  </div>
</div>
