<div class="container-fluid">
    <div class="row mt-3 justify-content-md-center mb-4">
        <div class="col-12">
            <h3>Personal Horario Mantenimiento</h3>
        </div> 
    </div>
    <div class="row mt-2 justify-content-md-center mb-4">
        <div class="col-4">
            <dx-select-box
                #company
                displayExpr="cOrdenInterna"
                [inputAttr]="{ 'aria-label': 'Orden Servicio' }"
                [(dataSource)]="ordenes"
                label="Selecciona Orden Servicio"
                [(ngModel)]="ordenCombo"
                name="ordenCombo"
            ></dx-select-box>
        </div>
        <div class="col-4 pt-2">
            <input type="week" [(ngModel)]="semana" name="semana" style="height: 33px;">
        </div>
        <!-- <div class="col-2">
            <input type="file" (change)="onFileChange($event)" />
        </div> -->
        <div class="col-4 pt-2 text-end">
            <dx-button text="Buscar"
                stylingMode="contained"
                type="default"
                [width]="120"
                icon="fa-solid fa-magnifying-glass"
                (onClick)="buscar()">
            </dx-button>
        </div>
    </div>
    <div class="row g-1 mt-2 justify-content-md-center mb-4">
        <div class="col-12">
            <div id="data-grid">
                <dx-data-grid
                id="gridContainer"
                [dataSource]="personalHorarios"
                keyExpr="nEmpleado"
                [showBorders]="true"
                [showColumnLines]="true"
                [showRowLines]="true"
                [allowColumnResizing]="true"
                [columnAutoWidth]="true"
                (onRowUpdating)="actualizar($event)"
                >
                <dxo-paging [pageSize]="15"> </dxo-paging>
                <dxo-pager
                    [visible]="true"
                    [showPageSizeSelector]="true"
                    [allowedPageSizes]="[15, 25, 50, 100]"
                ></dxo-pager>
                <dxo-editing
                    mode="cell"
                    [allowUpdating]="true"
                    [selectTextOnEditStart]="true"
                    startEditAction="click"
                    use-icons="true"
                >
                </dxo-editing>
            
                <dxi-column dataField="cEmpleado" caption="Nombres" [allowEditing]="false" alignment='left'></dxi-column>

                <dxi-column dataField="nLunes" caption="Lunes" [width]="140" alignment='center'>
                    <dxo-lookup [dataSource]="horarios" displayExpr="cNombre" valueExpr="nCodigo">
                    </dxo-lookup>
                </dxi-column>

                <dxi-column dataField="nMartes" caption="Martes" [width]="140" alignment='center'>
                    <dxo-lookup [dataSource]="horarios" displayExpr="cNombre" valueExpr="nCodigo">
                    </dxo-lookup>
                </dxi-column>

                <dxi-column dataField="nMiercoles" caption="Miércoles" [width]="140" alignment='center'>
                    <dxo-lookup [dataSource]="horarios" displayExpr="cNombre" valueExpr="nCodigo">
                    </dxo-lookup>
                </dxi-column>

                <dxi-column dataField="nJueves" caption="Jueves" [width]="140" alignment='center'>
                    <dxo-lookup [dataSource]="horarios" displayExpr="cNombre" valueExpr="nCodigo">
                    </dxo-lookup>
                </dxi-column>

                <dxi-column dataField="nViernes" caption="Viernes" [width]="140" alignment='center'>
                    <dxo-lookup [dataSource]="horarios" displayExpr="cNombre" valueExpr="nCodigo">
                    </dxo-lookup>
                </dxi-column>

                <dxi-column dataField="nSabado" caption="Sábado" [width]="140" alignment='center'>
                    <dxo-lookup [dataSource]="horarios" displayExpr="cNombre" valueExpr="nCodigo">
                    </dxo-lookup>
                </dxi-column>

                <dxi-column dataField="nDomingo" caption="Domingo" [width]="140" alignment='center'>
                    <dxo-lookup [dataSource]="horarios" displayExpr="cNombre" valueExpr="nCodigo">
                    </dxo-lookup>
                </dxi-column>

                <!-- <dxi-column dataField="prueba" caption="prueba" dataType='datetime' [editorOptions]="{ type: 'time' }" format="HH:mm:ss"></dxi-column> -->
                </dx-data-grid>

                <div id="messageBox" style="display: none; background-color: #f8d7da; color: #721c24; padding: 10px; border-radius: 5px; margin-top: 10px; font-weight: bold;">
                <!-- El mensaje se inyecta aquí -->
                </div>
                
                <block-ui >
                <!-- Markup here -->
                </block-ui>
            </div>
        </div>
    </div>
    <div class="row g-1 mt-2 justify-content-md-center mb-4">
        <div class="col-2 pt-2 text-end">
            <dx-button text="Guardar"
                stylingMode="contained"
                type="default"
                [width]="150"
                icon="fa-solid fa-floppy-disk"
                [disabled]="desactivarBotonGuardar"
                (onClick)="enviarPersonalHorario()">
            </dx-button>
        </div>
    </div>
</div>

<input type="hidden" id="oculto">
