.digital-clock {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #333;
    background-color: #f0f0f0;
    border-radius: 10px;
    width: 400px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
  }

  h1{
    font-family: Rajdhani, sans-serif;
    font-style: italic;
  }