<div class="inicio-container h-screen">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Inicio</h2>
            <br>
            <br>
            <dx-button text="Cerrar Sesión"
                    stylingMode="contained"
                    type="default"
                    [width]="250"
                    icon="fa-solid fa-right-from-bracket"
                    type="danger"
                    (onClick)="buscar()">
            </dx-button>
        </div>
        
    </div>
    
</div>