.inicio-container{
    place-items: center;
    display: grid;
}

.h-screen{
    height: 50vh;
}

.w-full{
    width: 100%;
}

.small-text {
    font-size: 0.8rem;  /* Ajusta el tamaño según sea necesario */
}


::ng-deep dx-button{
    background-color: red;
}

::ng-deep .dx-button-mode-contained.dx-button-danger{
    font-weight: bold;
    font-size: 16px;
}
